<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
  <div id="plotDiv"></div>

  <h3>Select data source:</h3>
  <div id="dataSourceSelection"></div>

  <h3>Select normalization mode:</h3>
  <div>
    <input type="radio" id="rawScore" name="scoreType" value="score" checked>
    <label for="rawScore">Raw Score</label><br>
    <input type="radio" id="idealScore" name="scoreType" value="score_ideal">
    <label for="idealScore">Normalized Score (Ideal Tool)</label><br>
    <input type="radio" id="bvtScore" name="scoreType" value="score_bvt">
    <label for="bvtScore">Normalized Score (RBVT)</label>
  </div>
<script>
  // Initial tools to display
  const initialTools = ["Ideal Tool", "RBVT", "ITS-Tools", "Tapaal", "LoLA", "enpac", "GreatSPN", "smpt"];
  
  const csvFiles = {{csv_files|tojson}};  // List of CSV files

  const allData = {};  // Object to store data from all CSV files

  // Load data from all CSV files
  const loadAllData = () => {
    const promises = csvFiles.map(csvFile => {
      return new Promise((resolve, reject) => {
        Plotly.d3.csv(csvFile, function(error, data) {
          if (error) {
            reject(error);
          } else {
            const fileName = csvFile.split('/').pop().split('_')[1];  // Extract category/examination name from file name
            allData[fileName] = data;  // Store data in the allData object with category/examination name as key
            resolve();
          }
        });
      });
    });

    return Promise.all(promises);
  };

  const generateDataSourceSelection = () => {
	  const dataSourceDiv = document.getElementById('dataSourceSelection');
	  Object.keys(allData).forEach((dataSource, index) => {
	    const radioButton = document.createElement('input');
	    radioButton.type = 'radio';
	    radioButton.id = dataSource;
	    radioButton.name = 'dataSource';
	    radioButton.value = dataSource;
	    if (index === 0) radioButton.checked = true;

	    const label = document.createElement('label');
	    label.htmlFor = dataSource;
	    label.innerText = dataSource;

	    dataSourceDiv.appendChild(radioButton);
	    dataSourceDiv.appendChild(label);
	    dataSourceDiv.appendChild(document.createElement('br'));
	  });
	};

  
  // Function to update plot with selected data source and score normalization mode
  const updatePlot = (dataSource, scoreType) => {
    const data = allData[dataSource];
    //const toolNames = [...new Set(data.map(row => row.tool))].sort();
    const traces = [];
    // Count the number of points for each tool
    const toolCounts = data.reduce((counts, row) => {
      counts[row.tool] = (counts[row.tool] || 0) + 1;
      return counts;
    }, {});

    // Sort the tools first by the number of points (in descending order) and then alphabetically
    const toolNames = Object.entries(toolCounts)
      .sort((a, b) => b[1] - a[1] || a[0].localeCompare(b[0]))
      .map(entry => entry[0]);
    
    toolNames.forEach(function(toolName) {
      var toolData = data.filter(row => row.tool === toolName);
      toolData.sort((a, b) => a.year - b.year);

      var trace = {
        x: toolData.map(row => row.year),
        y: toolData.map(row => parseFloat(row[scoreType])),
        mode: 'lines+markers',
        name: toolName,
        line: {
          shape: 'linear'
        },
        visible: initialTools.includes(toolName) ? true : 'legendonly'  // Show initial tools
      };
      traces.push(trace);
    });
       // Plot layout
      var layout = {
        title: '{{plot_id}}',
        xaxis: {
          title: 'Year',
          type: 'category'
        },
        yaxis: {
          title: 'Score'
        },
        legend: {
          orientation: 'h',
          y: -0.5  // Position the legend below the plot
        },
        colorway: [
            "rgb(229, 134, 6)","rgb(93, 105, 177)","rgb(82, 188, 163)","rgb(153, 201, 69)",
            "rgb(204, 97, 176)","rgb(36, 121, 108)","rgb(218, 165, 27)","rgb(47, 138, 196)",
            "rgb(118, 78, 159)","rgb(237, 100, 90)","rgb(165, 170, 153)","rgb(136, 204, 238)",
            "rgb(204, 102, 119)","rgb(221, 204, 119)","rgb(17, 119, 51)","rgb(51, 34, 136)",
            "rgb(170, 68, 153)","rgb(68, 170, 153)","rgb(153, 153, 51)","rgb(136, 34, 85)",
            "rgb(102, 17, 0)","rgb(136, 136, 136)","rgb(95, 70, 144)","rgb(29, 105, 150)",
            "rgb(56, 166, 165)","rgb(15, 133, 84)","rgb(115, 175, 72)","rgb(237, 173, 8)",
            "rgb(225, 124, 5)","rgb(204, 80, 62)","rgb(148, 52, 110)","rgb(111, 64, 112)",
            "rgb(102, 102, 102)"
          ] 
      };
    Plotly.newPlot('plotDiv', traces, layout);
  };

  loadAllData().then(() => {
    // After all data is loaded, add radio button listeners and initialize plot
	generateDataSourceSelection();
    // Add radio button listener for data source selection
    document.querySelectorAll('input[name="dataSource"]').forEach((elem) => {
      elem.addEventListener("change", function(event) {
        const dataSource = event.target.value;
        const scoreType = document.querySelector('input[name="scoreType"]:checked').value;
        updatePlot(dataSource, scoreType);
      });
    });

    // Add radio button listener for score normalization mode selection
    document.querySelectorAll('input[name="scoreType"]').forEach((elem) => {
      elem.addEventListener("change", function(event) {
        const scoreType = event.target.value;
        const dataSource = document.querySelector('input[name="dataSource"]:checked').value;
        updatePlot(dataSource, scoreType);
      });
    });

    // Initialize plot with first data source and raw score
    updatePlot(Object.keys(allData)[0], 'score');
  });
</script>
</body>
</html>
