<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://jvenn.toulouse.inrae.fr/app/js/canvas2svg.js"></script>
    <script src="https://jvenn.toulouse.inrae.fr/app/js/jvenn.min.js"></script>
</head>
<body>
<div>
    <h2>Interactive Venn Diagram</h2>
    <p>Venn diagrams allow to refine our view of the scores to measure tool complementarity.
    Each answer provided by a tool is a data point, we draw one circle per tool to contain all these points, and measure the overlaps with other selected tools.
    You can filter the data as desired and choose the tools to compare, and the Draw button will compute the diagram on the fly, which may take a few seconds.</p>
    
    <h3>Filter</h3>
    {% for col, values in filters.items() %}
    <label for="{{ col }}">{{ col }}:</label>
    <select id="{{ col }}">
        <option value="All">All</option>
        {% for value in values %}
        <option value="{{ value }}">{{ value }}</option>
        {% endfor %}
    </select>
    {% endfor %}

    <h3>Select Tools and Draw</h3>
    {% for i in range(1, 4) %}
        <select id="tool{{ i }}">
            {% for tool in sorted_tools %}
            <option value="{{ tool }}" {{ 'selected' if loop.index == i+1 else '' }}>{{ tool }}</option>
            {% endfor %}
        </select>
    {% endfor %}
    <button onclick="updateVenn()">Draw Venn diagram</button>
</div>

<div id="venn_div"></div>

<p>Double click any region of the diagram to have a list of points. Refer to the <a href="./resolution.csv">resolution file</a> to understand the list of integers.</p>

<script>
var tool_index_dict = {};

// Load tool_index_dict from JSON file
$.getJSON('tool_index_dict.json', function(data) {
    tool_index_dict = data;
});

    function loadFilterData() {
        $.getJSON('filters.json', function(data) {
            filter_dicts = data;
            for (var col in filter_dicts) {
                for (var value in filter_dicts[col]) {
                    filter_dicts[col][value] = new Set(filter_dicts[col][value]);
                }
            }
        });
    }

function filterData() {
    var filtered_data = {};

    // Get selected values for each filter column and store them in a list of sets
    var selected_sets = [];
    for (var col in filter_dicts) {
        var selected_value = document.getElementById(col).value;
        if (selected_value !== 'All') {
            selected_sets.push(filter_dicts[col][selected_value]);
        }
    }

    // If no filters are selected, return the original data
    if (selected_sets.length === 0) {
        return tool_index_dict;
    }

    // If only one filter is selected, no need for intersection
    if (selected_sets.length === 1) {
        var selected_set = selected_sets[0];
        for (var tool in tool_index_dict) {
            filtered_data[tool] = tool_index_dict[tool]['answers'].filter(index => selected_set.has(index));
        }
        return filtered_data;
    }

    // Sort the selected_sets array from smallest to largest
    selected_sets.sort((a, b) => a.size - b.size);

    // Calculate the intersection of all selected sets
    var intersection_set = selected_sets.reduce((a, b) => new Set([...a].filter(x => b.has(x))));
    
    // Filter the data for each tool by the intersection set
    for (var tool in tool_index_dict) {
        filtered_data[tool] = tool_index_dict[tool]['answers'].filter(index => intersection_set.has(index));
    }
    
    return filtered_data;
}


    function updateVenn() {
        var tool1 = document.getElementById('tool1').value;
        var tool2 = document.getElementById('tool2').value;
        var tool3 = document.getElementById('tool3').value;
        

        var filtered_data = filterData();

        var sets = [
            { name: tool1, data: filtered_data[tool1]['answers']  },
            { name: tool2, data: filtered_data[tool2]['answers']  },
            { name: tool3, data: filtered_data[tool3]['answers']  },
        ];

        $("#venn_div").jvenn({
            series: sets,
            displayStat: true,
        });
    }

    loadFilterData();
</script>
</body>
</html>
