<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCC Model Size Analysis - 2023 Edition</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h1>MCC 2023 Model Size Analysis</h1>
	<p>We provide analysis for three categories: Petri Net (PT), Colored Petri Net (COL), and All. The 'All' category contains all models.</p>
   	<p>The MCC '23 models contained {{ total_model_instances }} model instances coming from {{ total_model_families }} model families, of which {{ total_COL_model_families }} are COL model families. In total there are {{ total_PT_model_instances }} PT model instances and {{ total_COL_model_instances }} COL model instances in this dataset.</p>
	<p>Both visualizations of the <a href="ModelDescriptions.html">raw data</a> <a href="ModelDescriptions.csv">(download as CSV)</a> show the distribution of model sizes across the various models analyzed in this study. The raw data gives the precise sizes of different model attributes, while the visualizations provide a more holistic and comprehensive view of the distribution and spread of these attributes.</p>
	    
    <!-- Filter buttons -->
    <div class="btn-group" role="group" aria-label="Filter">
        {% for category in image_files.keys() %}
        <button type="button" class="btn btn-primary" onclick="filterImages('{{ category }}')">{{ category }}</button>
        {% endfor %}
    </div>

    {% for category, images in image_files.items() %}
    <div class="row mt-4" data-category="{{ category }}" {% if category != "All" %}style="display:none"{% endif %}>
        <div class="col-12">
            <h2>{{ category }}</h2>
        </div>
        {% for image_file in images %}
            <div class="col-md-4 col-sm-6 col-12 mb-4">
                <a href="{{ image_file }}" data-toggle="lightbox">
                    <img class="diagram img-fluid" src="{{ image_file }}" alt="{{ category }} Diagram">
                </a>
            </div>
        {% endfor %}
    </div>
    {% endfor %}


    <h2>Reading the plots.</h2>	
	<p>The data is presented in two forms: density plots and box plots.</p> 
    <p>Density plots are useful to visualize the distribution of model sizes. Each plot is a variation of a histogram that uses 'kernels' to estimate the probability density function of the model sizes. The peaks of a density plot help to locate where values are concentrated over the interval.</p>
    <p>In our case, we have separate density plots for places, transitions, and arcs. These plots can help us understand how these attributes are distributed across different models and provide us with insights on the common patterns and divergences among models.</p>
    <p>Box plots, on the other hand, provide a graphical representation of the five-number summary of a dataset: the minimum, first quartile, median, third quartile, and maximum. In a box plot, a box is created from the first quartile to the third quartile, a vertical line is also there which goes through the box at the median. Here whiskers are drawn above and below the box to summarize the spread of the data. Hence, box plots help us to understand the distribution and spread of the data more precisely.</p>


    <p><a href="../index.html">Back to summary</a></p>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
    function filterImages(category) {
        $('.btn-primary').removeClass('active');
        $(`button[onclick="filterImages('${category}')"]`).addClass('active');
        $('.row[data-category]').each(function() {
            if ($(this).data('category') === category) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    }
    </script>
</body>
</html>
